<form>
  <div class="form-group">
    <label for="studentId">Someone's ID card number</label>
    <div>
      {{input type='text' class='form-control' id='studentId' placeholder='2212345' value=model.studentId}}
    </div>
  </div>
  <div class="form-group">
    <label>Your votes</label>
    {{#each option in model.options}}
      <div class="checkbox">
        <label>
          {{input type='checkbox' name=option.key checked=option.isSelected}}
          {{option.name}}
        </label>
      </div>
    {{/each}}
  </div>
  <button class="btn btn-primary" disabled={{controller.shouldDisableSubmitButton}} {{action 'submit' model}}>Submit</button>
</form>
