<form>
  <div class="form-group">
    <label for="studentId">Someone's ID card number</label>
    <div>
      {{input type='text' class='form-control' id='studentId' placeholder='2212345' value=model.studentId}}
    </div>
  </div>
  <div class="form-group">
    <label>Your votes</label>
    {{#each option in model.options}}
      <div class="checkbox">
        <label>
          {{input type='checkbox' name=option.key checked=option.isSelected}}
          {{option.name}}
        </label>
      </div>
    {{/each}}
  </div>
  <div class="form-group">
    <label>
      {{input type='checkbox' checked=controller.isAgreed}}
      <strong class="text-danger">I understand that clicking "Submit" will probably change the vote of the person whose ID card number is entered. I understand that this action has consequences, and I take responsibility for it.</strong>
    </label>
    <small>Actually, the server doesn't even check if it's a real ID card number, so you can type in whatever you want and it will probably get counted. See {{#link-to 'about'}}About{{/link-to}}.</small>
  </div>

  <button {{bind-attr class=':btn controller.isDoneSubmitting:btn-success:btn-primary'}} disabled={{controller.shouldDisableSubmitButton}} {{action 'submit' model}}>
    {{#if controller.isDoneSubmitting}}
      Done
    {{else}}
      Submit
    {{/if}}
  </button>
</form>
